* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
nav {
  background-color: blue;
  height: 80px;
  width: 100%;
}
.logo {
  color: #fff;
  font-size: 40px;
  line-height: 80px;
  padding: 0 15px;
  font-weight: 700;
}

ul {
  float: right;
  line-height: 80px;
  margin-right: 20px;
}

ul li {
  display: inline;
  font-size: 20px;
  border-radius: 5px;
}

ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 13px;
  margin: 0 5px;
  font-weight: 700;
}
a.active {
  border-radius: 10px;
}
a.active,
a:hover {
  background-color: darkblue;

  /* padding: 3px 4px; */
  font-weight: 600;
  transition: 3.5s;
}
a:hover {
  font-size: 25px;
  border-radius: 15px;
}
.checkbtn {
  color: white;
  float: right;
  font-size: 40px;
  line-height: 80px;
  margin-right: 15px;
  display: none;
  cursor: pointer;
}
#check {
  display: none;
}
section {
  text-align: center;
}
section img {
  width: 100%;
  height: auto;
}
@media (max-width: 950px) {
  .logo {
    font-size: 30px;
  }
}
@media (max-width: 850px) {
  .checkbtn {
    display: block;
  }
  ul {
    background-color: rgba(152, 152, 152, 0.7);
    border-radius: 50% 0;
    margin: 0;
    position: fixed;
    right: -50%;
    top: 80px;
    width: 50%;
    /* height: 60vh; */
    transition: all 0.5s;
  }
  ul li {
    display: block;
    text-align: center;
    /* padding: 0; */
  }
  ul li a {
    /* margin: 0; */
  }
  #check:checked ~ ul {
    right: 0;
  }
}
@media (max-width: 550px) {
  ul {
    width: 70%;
    right: -70%;
  }
}
@media (max-width: 450px) {
  ul {
    width: 100%;
    right: -100%;
  }
}
